.jumbotron {
    background-image: url("/img/OIP.jfif");
    color: azure;
    margin: 0;
}

h3 {
    padding: 20px;
}

.site-footer {
    background-color: lightgray;
    padding: 20px, 0;
}

.navbar {
    background-color: lightgray;
    color: black;
}

.navbar-nav li a {
    color: black;
}

.navbar-toggler-icon {
}

.card:hover {
    opacity: .8;
}

.nav-item:hover, .navbar-toggler-icon:hover, .fa:hover {
    opacity: .6;
}

#numberCount {
    margin: 0px, 15px;
}

#total {
    margin-left: 15px;
}